body {
	background-color: #3a3a3a;
	color: white;
	text-align: center;
	font-family: monaco;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;

	/*
	background: linear-gradient(135deg, #f9f3c0 0%,#a1cee0 27%,#f9eafc 59%,#7db9e8 100%);
	*/
}

#ends {
	/*background-color:white;*/
	max-width: 512px;
	cursor: pointer;
}

a, a:visited {
	color: lightblue;
	transition: color 3000ms;
}

a:hover {
	color: aqua;
}

p#caption {
	font-family: Times New Roman, serif;
	font-size: 2em;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 1em;
}

#content.storylines {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	column-count: 2;
	text-align: left;
}