{% include head.html %}
<body>
	<div id="container">
		{% include header.html %}
		<div id="title">
			<p>
				{{ page.title }} 
				. {{ page.part }} 
				. {{ page.date | date: "%B %e, %Y" | downcase }}
			</p>
			<p>
			{% if page.previous.url %}
				<a class="prev" href="{{page.previous.url  }}">previous</a> 
			{% endif %}
			{% if page.next.url %}
				. <a class="next" href="{{page.next.url }}">next</a>
			{% endif %}
				{% for cat in site.categories[page.categories.first] %}
					{% if cat.part == 1 %}
						. <a href="{{ site.url }}{{ cat.url }}">beginning</a>
					{% endif %}
				{% endfor %}
				. <a href="{{site.url}}/story_lines.html">story lines</a>
				. <a href="{{ site.url }}{{ site.baseurl }}">home</a>

			</p>
			
		</div>
		<div id="content">
			{{ content }}
		</div>
			
	</div>
	

	<!-- {% include footer.html %} -->
	{% include scripts.html %}
</body>
</html>
<!-- post  -->